# Test `etl_pipeline.py`

## from jupyter notebook

In [2]:
import sys

# Specifies the file path where the first .py file is located.
sys.path.insert(1, '../data')
import etl_pipeline

In [3]:
datapreprocessor = etl_pipeline.DataPreprocessor()
datapreprocessor.read_data_from_raw_input()

Start:	Read in countries Dataset
Finish:	Read in countries Dataset
Start:	Read in countries_metadata Dataset
Finish:	Read in countries_metadata Dataset

In [4]:
countries, countries_metadata = datapreprocessor.preprocess_data(save_preprocess_countries=True, save_preprocess_countries_metadata=True)

Start:	Preprocessing countries Dataset
Finish:	Preprocessing countries Dataset
Start:	Preprocessing countries_metadata Dataset
Finish:	Preprocessing countries_metadata Dataset
Start:	Save countries Dataset to disc
Finish:	Save countries Dataset to disc
Start:	Save countries_metadata Dataset to disc
Finish:	Save countries_metadata Dataset to disc

In [5]:
countries, countries_metadata = datapreprocessor.read_preprocessed_tables()

Start:	Read in modified countries Dataset
Finish:	Read in modified countries Dataset
Start:	Read in modified countries_metadata Dataset
Finish:	Read in modified countries_metadata Dataset

In [8]:
countries

  Countries  Population_per_k
0   Austria          9006.398
1   Bolivia         11673.021
2     China       1439323.776
3   Denmark          5792.202
4     Egypt        102334.404
5  Ethiopia        114963.588
6   Finland          5540.720
7    France         65273.511
8   Germany         83783.942
9    Greece         10423.054

In [9]:
countries_metadata

  country_names  Land_Area_per_k         Region
0        Greece          128.900         Europe
1         China         9388.211           Asia
2       Denmark           42.430         Europe
3      Ethiopia         1000.000         Africa
4         Egypt          995.450         Africa
5       Bolivia         1083.300  South America
6       Austria           82.409         Europe
7        France          547.557         Europe
8       Germany          348.560         Europe
9       Finland          303.890         Europe