# Test `etl_pipeline.py`

## from jupyter notebook

In [8]:
import sys

# Specifies the file path where the first .py file is located.
sys.path.insert(1, '../data')
import etl_pipeline

In [9]:
datapreprocessor = etl_pipeline.DataPreprocessor()
datapreprocessor.read_data_from_raw_input()

Start:	Read in countries Dataset
Finish:	Read in countries Dataset
Start:	Read in countries_metadata Dataset
Finish:	Read in countries_metadata Dataset

In [10]:
new_df = datapreprocessor.preprocess_data(save_preprocess_new_df=True)

Start:	Preprocessing countries_metadata Dataset
Finish:	Preprocessing countries_metadata Dataset
Start:	Preprocessing new_df Dataset
Finish:	Preprocessing new_df Dataset
Start:	Save new_df Dataset to disc
Finish:	Save new_df Dataset to disc

In [11]:
new_df = datapreprocessor.read_preprocessed_tables()

Start:	Read in modified Dataset
Finish:	Read in modified Dataset

In [12]:
new_df

  Countries  Population_per_k  Land_Area_per_k         Region  pop_density
0   Austria          9006.398           82.409         Europe   109.289010
1   Bolivia         11673.021         1083.300  South America    10.775428
2     China       1439323.776         9388.211           Asia   153.311827
3   Denmark          5792.202           42.430         Europe   136.511949
4     Egypt        102334.404          995.450         Africa   102.802154
5  Ethiopia        114963.588         1000.000         Africa   114.963588
6   Finland          5540.720          303.890         Europe    18.232650
7    France         65273.511          547.557         Europe   119.208614
8   Germany         83783.942          348.560         Europe   240.371649
9    Greece         10423.054          128.900         Europe    80.861552